%p{:id => "footer"} Made by Sebastião Correia (sc01879)
%div#accessibility
  %input#smallb{onclick: "SetFontSize('80%')", type: "button", value: "Small"}
  %input#mediumb{onclick: "SetFontSize('100%')", type: "button", value: "Medium"}
  %input#largeb{onclick: "SetFontSize('120%')", type: "button", value: "Large"}

  %p
  %input#normalb{onclick: "SetPageStyle('Normal')", type: "button", value: "NormaL"}
  %input#darkb{onclick: "SetPageStyle('Dark')", type: "button", value: "Dark"}
