#mySidebar.sidebar
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %a{:href => "/"} Home
  %a{:href => "/bands"} Band List
  %a{:href => "/albums"} Albums
  %a{:href => "#"} Contact
#main
  %button.openbtn{:onclick => "openNav()"} ☰ Open Sidebar
